.poke-card {
  background: linear-gradient(145deg, #ff3b3b, #cc0000);
  border: 3px solid #222;
  border-radius: 18px;
  box-shadow: 
    0 6px 15px rgba(0, 0, 0, 0.4),
    inset 0 0 10px rgba(255, 255, 255, 0.2);

  padding: 20px;
  width: 190px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;

  position: relative;
  overflow: hidden;

  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.poke-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  transform: rotate(25deg);
  transition: 0.6s;
}

.poke-card:hover::before {
  left: 100%;
}

.poke-card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 
    0 12px 25px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(255, 255, 0, 0.6);
}

.poke-card img {
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.poke-card:hover img {
  transform: scale(1.15);
}