/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    min-height: 100vh;
    background: 
        radial-gradient(circle at 20% 30%, rgba(250, 246, 246, 0.5), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(220, 222, 236, 0.5), transparent 40%),
        linear-gradient(135deg, #1a1a1a, #2b2b2b);

    background-attachment: fixed;
    color: white;
}

.title {
    color: #ffeb3b;
    margin-bottom: 30px;
    font-size: 2.8rem;
    text-align: center;
    letter-spacing: 3px;

    text-shadow: 
        0 0 10px rgba(255, 235, 59, 0.8),
        3px 3px 6px rgba(0, 0, 0, 0.6);
}