.poke-details {
  width: 350px;
  margin: 40px auto;          
  text-align: center;
  background-color: #f2f2f2; 
  padding: 30px 20px;
  border-radius: 16px;        
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.type-badge {
    display: inline-block;
    background-color: #444;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
    margin: 2px 4px;
    font-weight: bold;
}

.back-link {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 0.75rem;

    &:hover {
        text-decoration: underline;
    }
}